$background-color: #dee2e6;

$color-white: #ffffff;
$color-black: #000000;
$color-main-blue: #3554d1;
$color-main-grey: #d4e1f4;

// links colors
$navlink-color-1: #0f294d;

// heading colors

$heading-color-1: #051036;
$heading-color-2: #3554d1;
$heading-color-3: #697488;

// hero section
$gradient-color-1: rgb(209, 239, 254);
$gradient-color-2: rgb(239, 235, 225);

// features section

// Card
$bg-feature-card: #697488;
$bg-agent-card: #bfbec0;

// hotel detial color
$border-color-grey: #dddddd;

$demand-bg-color: #ebfcea;
$color-text-green: #008009;

$color-border: #dddddd;

//submit color
$submit-color: #13357b;
$color-border: #dddddd;

//text colors
$text-color-grey: #697488;

$price-color-background: #e5f0fd;

//Hover Colors
$hover-light-grey: #f5f5f5;

$webworks-1: #ff790d;
$webworks-2: #00d1ff;
$color-grey-dark-2: #999;

$color-primary: #55c57a;
$color-secondary-dark: #ff7730;
// $color-label:#d81b60;

$color-label: #145276;
$percent-color: #4caf50;

$box-shadowz: box-shadow rgba(0, 0, 0, 0.35) 0px 5px 15px;
