@import "../../../sass/main.scss";

.form {
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 7px;
    background-color: rgba( #dee2e6, 0.5);
    border: 2px solid #284b63;
    // border: none;
    // border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);

    // @include respond(tab-port) {
    //     width: 100%;
    // }

  
  }





  &_container {
    width: 74rem;
    padding: 5rem;
    gap: 2.5rem;
    padding-top: 6rem;
    // background-color: red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
    border-radius: 7px;
    // position: absolute;
    // z-index: 10;

    &_heading {
      display: flex;
    margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      width: 55%;
      margin-bottom: 0.5rem;
      background: $color-label;
      border-radius: 5px;
      position: relative;
      z-index: 100;
      &_img{
        margin-left: 1rem;
        
        // width: 5%;
        // height: 20%;
      }

      &_text {
        font-size: $font-size-22;
        font-weight: $font-weight-medium;
        padding: 2rem;
        color: white;
      
      }
    }

    &_tags {
      margin-bottom: -1rem;
      // border: 1px solid $color-border;
    
      &_input {
        font-size: $font-size-16;
        font-weight: $font-weight-regular;
        width: 100%;
      }
 

    
    }

    &_terms {
      display: flex;
      gap: 7.2rem;
      text-align: center;
      margin-top: 0.5rem;
      &_button{
        // margin-left: auto;
        &_skip{
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          display: flex;
          gap: 1rem;
          margin-left: auto;
          width: fit-content;
          padding-left:2rem;
          padding-top: 1rem;
          padding-right: 1rem;
          border-radius: 5px;
          // text-align: center;
          // align-items: center;
          &_name{
            font-size: $font-size-16;
            text-align: center;
            font-weight: $font-weight-medium;
          }
          &_svg{
            height: 3rem;
            
          }

        }
      }

      &_policy {
        &_text {
          font-size: $font-size-14;
          font-weight: $font-weight-regular;
          color: $color-label;
        }
      }
    }
  }
}
