@import "./../../sass/main.scss";

.table {
  &_container {
    font-family: $font-family-jost;
    width: 122rem;
    height: 55rem;
    margin: 0rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    table {
      margin-top: 2.5rem;
      border-collapse: collapse;
      width: 100%;
    }
  }
  &_filter {
    display: flex;
    align-items: center;
    &_btn {
      background-color: #fff;
      width: 12rem;
      height: 4rem;
      margin-right: 2rem;
      color: #000;
      font-size: 1.8rem;
      font-weight: $font-weight-medium;
    }
  }
  &_heading {
    width: 98%;
    height: 6rem;
    background-color: $main-color-4;
    border-radius: 0.5rem;
    color: #fff;
    position: absolute;
    top: -5%;
    left: 1%;
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    img {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 2rem;
    }
    h1 {
      font-size: $font-size-22;
      padding: 1rem;
    }
  }
  &_error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-label;
    font-size: 3rem;
  }
  &_head {
    height: 6rem;
    width: 100%;
    th {
      font-size: $font-size-16;
      font-weight: $font-weight-medium;
      letter-spacing: 0.8px;
      color: #7b809a;
      border-bottom: 1px solid #bbb;
    }
  }
  &_body {
    tr:hover {
      background-color: #ebebeb;
    }
    td {
      height: 6.5rem;
      text-align: center;
      font-size: $font-size-16;
      font-weight: $font-weight-regular;
      color: $heading-color-1;
      border-bottom: 1px dashed #bbb;
      border-radius: 0.5rem;
      a {
        text-decoration: none;
      }
      button {
        width: 10rem;
        margin: 0 auto;
      }
    }
  }
}
